[Unit]
Description=QuantRabbit UI snapshot timer

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=2s
Unit=quant-ui-snapshot.service

[Install]
WantedBy=timers.target
