[Unit]
Description=QuantRabbit Policy Cycle timer

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=30s
RandomizedDelaySec=20s

[Install]
WantedBy=timers.target
